html,body{
    height: 100%;
    width:100%;
    background-color: #171e20;
}
.main{
    box-shadow:2px 2px 10px #9d760e;
    border-radius: 20px;
}
span{
    color:#edaf0f;
}
.button{
    padding:20px;
    width: 55px;
    margin:0 3px;
    border: 2px solid black;
    border-radius: 25px;
    cursor: pointer;
}
.row{
    margin: 8px 0;
}
.row input{
    font-size: 20px;
    margin:0;
    padding:10px 2px;
    border:2px solid #fff;
    border-radius: 5px;
    background-color: #FFF;
    color: #000000;
    font-weight: 600;
}
h1{
    color:#fff;
}